{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "{% static 'themain/css/style.css'%} ">
    <title>Linker</title>
  </head>
  <body>
    <div class="header">
      <h class="some-text">Link saver</h>
      <button type="button" class="btn">Login</button>
    </div>
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
  </body>
</html>



